<launch>

  <rosparam file="$(find three_dof_planar_manipulator_moveit_config)/config/trajectory_control.yaml" command="load"/>
  
  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find three_dof_planar_manipulator_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>
  
  <node name="ROBOT_hardware_interface" pkg="three_dof_planar_manipulator" type="robot_hardware_interface" output="screen"/>

  <node name="joint_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" args="/three_dof_planar_manipulator/joint_state_controller" >
  </node>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
  </node>
  

  <node name="joint_controller" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="/three_dof_planar_manipulator/arm_joint_controller"/>

 

  <include file="$(find three_dof_planar_manipulator_moveit_config)/launch/move_group.launch">
  <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <include file="$(find three_dof_planar_manipulator_moveit_config)/launch/moveit_rviz.launch"/> 
  
  <!-- <node name="simple_marker" pkg="three_dof_planar_manipulator" type="simple_marker.py" output="screen"  >
  </node> -->
    
</launch>
